@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

ul {
  list-style: initial;
}

.car_swiper .swiper-button-next {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #a6a6a6 !important;
}

.serviceslide {
  width: auto !important;
  height: 60vh !important;
  aspect-ratio: calc(2 / 1);
  max-height: 400px;
}

@media (max-width: 600px) {
  .serviceslide {
    width: 90vw !important;
    height: auto !important;
    aspect-ratio: calc(2 / 1.5);
  }
}

.servicebullet,
.serviceactivebullet {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #7e7d7d;
  display: inline-block;
  margin-inline: 4px;
  cursor: pointer;
}

.serviceactivebullet {
  background: #dca24b;
  width: 10px;
  height: 10px;
}

.privatejetswiper .swiper-slide {
  height: 50vh;
  max-height: 400px;
  aspect-ratio: calc(640 / 400);
  width: auto;
  position: relative;
  cursor: grab;
}

.product_swiper {
  height: 100%;
  width: 100%;
}

.herocarousel {
  width: 100%;
  aspect-ratio: calc(16 / 9);
  min-height: 40vh;
  max-height: 700px;
  position: relative;
}

.herocarousel .swiper-slide {
  width: 100%;
  height: 100%;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0; /* Webkit */
  height: 0; /* Webkit */
}
.jetskigradient {
  background: linear-gradient(
    180deg,
    rgba(17, 22, 24, 1) 0%,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.2) 85%,
    rgba(17, 22, 24, 1) 100%
  );
}

.react-select-container,
.react-select-container2 {
  width: 155px;
  min-width: 150px;
  border-radius: 25px;
}
.react-select-container2 {
  width: 350px;
  border-radius: 25px;
  min-width: 300px;
}
.react-select__control,
.react-select__control--is-focused {
  box-shadow: none !important;
  border-radius: 50px !important;
  border-color: #cbcbcb !important;
}
.react-select__single-value {
  color: #7e7d7d !important;
}
.react-select__menu {
  z-index: 20 !important;
}

.btn_hover:hover {
  background-color: #7e7d7d;
  color: #dca24b;
  scale: 1.05;
  transition: background-color 0.3s, transform 0.3s;
}

.privacy-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  padding-top: 100px;
}
.privacycontent {
  max-width: 1024px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.privacycontent p {
  margin-block: 24px;
}
.privacycontent h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.privacycontent h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block: 1rem;
}

.privacycontent li {
  margin-block: 0.5rem;
}

.nav_link:hover {
  color: #dca24b;
  transition: all ease 800;
}

/* shhs */

.hover-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dca24b; /* Change color as needed */
  bottom: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover-underline:hover::before {
  transform: scaleX(1);
}

.parent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.div2,
.div3,
.div4 {
  height: 400px;
}

@media (min-width: 784px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(18, 0.2fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .div2,
  .div3,
  .div4 {
    height: auto;
  }
  .div1 {
    grid-area: 1 / 1 / 4 / 5;
  }
  .div2 {
    grid-area: 1 / 5 / 19 / 17;
  }
  .div3 {
    grid-area: 9 / 3 / 18 / 6;
  }
  .div4 {
    grid-area: 6 / 1 / 14 / 4;
  }

  .react-select-container {
    width: 200px;
  }
}

.button-container {
  display: block;
  width: 200px;
}

.button-container button {
  display: block;
  width: 200px;
  /* border-radius: 40px; */
  border: none;
  padding: 20px;
  background-color: #dca24b;
  columns: white;
}

.effect-container {
  position: relative;
  overflow: hidden;
  /* border-radius: 40px; */

  --effect-name: ripple;
  --effect-duration: 1000ms;
  --effect-top: 0px;
  --effect-left: 0px;
  --effect-height: 100px;
  --effect-width: 100px;
  --effect-color: white;
}

.effect-container::before {
  content: '';
  position: absolute;
  opacity: 0.3;

  top: var(--effect-top);
  left: var(--effect-left);
  height: var(--effect-height);
  width: var(--effect-width);
  border-radius: 50%;
  transform: scale(0);
  background-color: var(--effect-color);
}

.effect-container.active::before {
  border-radius: 50%;
  animation: ripple var(--effect-duration) linear forwards;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(6);
    opacity: 0;
  }
}

input:focus-visible {
  outline-color: #3a5b22;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(6);
    opacity: 0;
  }
}

input:focus-visible {
  outline-color: #3a5b22;
}

#selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}
