@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.car_swiper .swiper-button-next {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  color: #a6a6a6 !important;
}

.serviceslide {
  width: auto !important;
  height: 60vh !important;
  aspect-ratio: calc(2 / 1);
  max-height: 400px;
}

@media (max-width: 600px) {
  .serviceslide {
    width: 90vw !important;
    height: auto !important;
    aspect-ratio: calc(1 / 2);
  }
}

.servicebullet,
.serviceactivebullet {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #7e7d7d;
  display: inline-block;
  margin-inline: 4px;
  cursor: pointer;
}

.serviceactivebullet {
  background: #dca24b;
  width: 10px;
  height: 10px;
}

.privatejetswiper .swiper-slide {
  height: 50vh;
  max-height: 400px;
  aspect-ratio: calc(640 / 400);
  width: auto;
  position: relative;
  cursor: grab;
}

.product_swiper {
  height: 100%;
  width: 100%;
}

.herocarousel {
  width: 100%;
  height: 100vh;
  max-height: 804px;
  position: relative;
}

.herocarousel .swiper-slide {
  width: 100%;
  height: 100%;
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0; /* Webkit */
  height: 0; /* Webkit */
}
.jetskigradient {
  background: linear-gradient(
    180deg,
    rgba(17, 22, 24, 1) 0%,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.2) 85%,
    rgba(17, 22, 24, 1) 100%
  );
}


.btn_hover:hover{
  background-color: #7e7d7d;
  color: #dca24b;
  scale: 1.05;
  transition: background-color 0.3s, transform 0.3s;

}